body {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bordergame {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.square {
  background-color: #fff;
  width: 100px;
  border: 1px solid #ddd;
  height: 100px;
  box-sizing: border-box;
}
